<script src="https://kit.fontawesome.com/86dd55b3e9.js" crossorigin="anonymous"></script>


<footer class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="../" class="nav-link px-2 text-white">By Radhakanta Swain</a></li>
          
        </ul>

        <div class="text-end">
          
            <a  href="https://www.linkedin.com/in/radhakanta-swain-489a421aa/" class="btn btn-secondary me-2"><i class="fa-brands fa-linkedin"></i></a>
            <a  href="https://github.com/RK-Swain95" class="btn btn-secondary"><i class="fa-brands fa-github"></i></a>
          
        </div>
      </div>
    </div>
</footer>