<div class="modal  modal-signin position-static d-block bg-secondary"style="height: 600px; tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-body h-100 bg-secondary p-5 pt-5">
<div class="mb-3">
    <form action="/sublg/6352ae0ccd136d462b04752c"  method="get">
        <input type="submit" class="btn btn-dark" value="Show LG subcategory">
    </form>
</div>
 <div class="mb-3">
    <form action="/showid/6352ae0ccd136d462b04752c"  method="get">
    <input type="submit"class="btn btn-dark" value="Show LG Ids">
    <div>
        <% if(mobileIds){%>
         
        <h4>Ids</h4>
        <div class="text-light  w-auto d-flex flex-row" >
            <% for(let i of mobileIds){%>
                <p class="w-75 bg-dark border text-center"><%=i%></p>
                <%}%>
        </div>
        
        <%}%>
   </div>
   </form>
</div>
<div class="mb-3">
    <form action="/toppopularity/6352ae0ccd136d462b04752c"  method="get">
        <input type="submit" class="btn btn-dark" value="Show top 5 popularity products">
        <div>
            <% if(topfive){%>
            
            <h4>Top five</h4>
            <div class="text-light  p-auto d-flex flex-row" >
             <% for(let i=0;i<topfive.length;i++){%>
                <p class="w-75 bg-dark border text-center"><%=topfive[i]%><%=' -> ' %><%=(popularityvalue[i])%></p>
                <%}%>
             </div>
            <%}%>
       </div>
       </form>
</div>
<div class="mb-3">
    <form action="/nokiaxolo/6352ae0ccd136d462b04752c"  method="get">
        <input type="submit" class="btn btn-dark" value="Nokia&Xolo&Zen price range 2000 to 9500">
    </form>
</div>

<div class="mb-3">
    <form action="/api/lesspopularity/6352ae0ccd136d462b04752c"  method="get">
        <input type="submit" class="btn btn-dark" value="products whose popularity is less than 500">
    </form>
</div>

<div class="mb-3">
    <form action="/api/subcategory/6352ae0ccd136d462b04752c"  method="get">
        <input type="submit" class="btn btn-dark" value="all subcategory product record">
    </form>
</div>
<div class="mb-3">
    <form action="/api/smartwatch/6352ae0ccd136d462b04752c"  method="get">
        <input class="btn btn-dark"  type="submit" value="smart-watches price greater than 10000">
    </form>
</div>

</div>
</div>