

    <form action="/api/showid/635040239813c8dc9690d23a"  method="post">
    <input type="submit" value="Show LG Ids">
    <div>
        <% if(mobileIds){%>
        
        
            <%=mobileIds%>
            
            <%}%>

    </div>
   
    
    </form>
   